.home
{
    height: 75%;
    margin: auto;
    margin-top: 50px;
    width: 60%;
    font-size: 23px;
    text-align: center;
    background: url('./background.jpg');
    background-size: cover;
    color: white;
}
b
{
    margin-left:-150px; 
}
.heading
{
    font-family: cursive;
    text-align: center;
    font-weight: bold;
    color: rgb(230, 149, 0);
    background: white;   
    font-size: 50px; 
}
.btn1
{
    margin-top:0%; 
    float: left;
    
}
.btn2
{
    margin-top:5%; 
    float: left;
}
