*
{
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 110%; 
	text-align:center;

}
.calTitle
{
    text-align: center;
    font-size:45px;
    font-weight: bold;
    font-family: cursive;
	width: 400px;
	padding: 10px 10px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
    background-color: black;
    color: whitesmoke;
}
.mainCal
{
	margin:0px;
	padding:0px;
	border-radius: 0px;
	box-sizing: border-box;
}
input[type='button']
{
	width: 100px;
    height: 80px;
	background: black;
	border: 1px solid #222;
	padding: 10px 20px;
    margin: 1px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    border-radius:50%; 
    outline: none;
}


input[type='button']:active
{
	background: #ccc;
}
.row input
{
    width: 400px;
	background: #ddd;
	border: 0px;
	color: #222;
	padding: 10px;
	text-align: right;
    outline: none;
   
}

